<section class="module about-me">
  <h2 class="module-title">About Me</h2>
  <p>
    As a former Product Manager with a solid academic background in Robotics and Computer Science, I possess both a deep technical foundation and a strategic product development vision. My passion lies in <strong>translating complex technological knowledge into practical, user-centric solutions.</strong> I am currently actively seeking new opportunities and available to new roles. Let's connect!
  </p>
  <div class="skills-container">
    <span class="skill-tag hard">Python</span>
    <span class="skill-tag hard">C++</span>
    <span class="skill-tag hard">SQL </span>
    <span class="skill-tag hard">Machine Learning (ML)</span>
    <span class="skill-tag hard">ROS 2 (Robotics)</span>

    <span class="skill-tag product">Product Analytics & Roadmapping</span>
    <span class="skill-tag product">User Research & Interviewing</span>

    <span class="skill-tag tool">Jira / Confluence</span>
    <span class="skill-tag tool">Figma / Axure</span>

  </div>
</section>
