<section class="module educational-background">
  <h2 class="module-title">Educational Background</h2>

  <div class="education-item">
    <div class="education-details">
      <h3>MSc in Robotics</h3>
      <p>The University of Manchester | Sep 2025-Expected Sep 2026 </p>
    </div>
    <div class="university-logo">
      <img src="assets/images/uom_logo.jpg" alt="The Manchester of Manchester">
    </div>
  </div>

  <div class="education-item">
    <div class="education-details">
      <h3>BEng in Computer Science</h3>
      <p>Northeastern University, China | Sep 2020-Jun 2024</p>
      <ul>
        <li><strong>Awards&Honours:</strong><br>Individual Scholarship (Nov 2023)<br>
          Innovation&Entrepreneurship Scholarship (March 2023)<br>Comprehensive Third-class Scholarship (Nov 2022)</li>
        <li><strong>Activities:</strong> <br>Vice President of university's English Debating Society (Aug 2022-Aug 2023)<br>Head of school's Culture,Sports&Art Center (Nov 2021-Oct 2022)<br>Member of university's Cyberspace Security Association (Oct 2020-Sep 2022)</li>
      </ul>
    </div>
    <div class="university-logo">
      <img src="assets/images/neu_logo.png" alt="Northeastern University, China">
    </div>
  </div>

</section>
