<section class="module experience-section">
  <h2 class="module-title">Professional Experience</h2>

  <div class="experience-card">
    <div class="card-media">
      <img src="assets/images/lilith_logo.png" alt="Lilith Games">
    </div>
    <div class="card-details">
      <h3>Junior Product Manager - Middle Platform</h3>
      <p>Lilith Games Co., Ltd. | Shanghai, China | Jul 2024 - Apr 2025</p>
      <ul>
        <li>Implemented and integrated AIGC chatbots to assist service staff, greatly improved player interaction and enhanced overall support efficiency with <strong>manual workload reduced by 20%.</strong></li>
        <li>Conducted research on player self-service trend in the gaming industry, designed self-service modules such as Gifts Reload (Call of Dragons) and Gacha Record Query(AFK2: Journey) based on each game development team's requirements, <strong>reaching an average daily usage of over 4,000.</strong></li>
      </ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="card-media">
      <img src="assets/images/momenta_logo.png" alt="Momenta">
    </div>
    <div class="card-details">
      <h3>Product Intern - HNP</h3>
      <p>Momenta Co., Ltd. | Shanghai, China | Jan 2024 - Mar 2024</p>
      <ul>
        <li>Assisted in functional iteration and delivery of BSD (Blind Spot Detection) and DOW (Doors Opening Warning) modules within the ADAS (Advanced Driver Assistance System).</li>
        <li>Built targeted issue-specific datasets for scenarios such as front-vehicle misidentification and false alarm suppression, defined user behavior criteria and scenario boundaries, and drove development teams to optimize product functionality, <strong>reducing scenario-specific error rates from 60% to 10%.</strong></li>
      </ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="card-media">
      <img src="assets/images/nio_logo.png" alt="NIO">
    </div>
    <div class="card-details">
      <h3>Product Intern - Worksheet Platform</h3>
      <p>NIO Co., Ltd. | Shanghai, China | Jan 2023 - Apr 2023</p>
      <ul>
        <li>Responsible for the product design and operations of the Internal Low-code Worksheet System, analyzed user interview notes and survey data to propose iteration directions, resulting in <strong>an increase of product satisfaction from 3.9 to 4.2.</strong></li>
      </ul>
    </div>
  </div>

</section>
