<section class="module project-experience">
  <h2 class="module-title">Project Experience</h2>

  <div class="project-item">

    <div class="project-image-slider">
      <div class="slider-images">
        <img src="assets/images/pro_pic1.jpg" alt="Pic1" class="slide active">
        <img src="assets/images/pro_pic2.jpg" alt="Pic2" class="slide">
        <img src="assets/images/pro_pic3.jpg" alt="Pic3" class="slide">
      </div>

      <div class="slider-dots">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
      <button class="next" onclick="plusSlides(1)">&#10095;</button>
    </div>

    <div class="project-details">
      <h4>2023 Xiaomi Studio AIoT Development Platform Training Camp</h4>
      <p class="project-meta">
        Excellent Camper&Prize / May 2023-Jul 2023
      </p>
      <p>
        Developed a Sauna Room Thermometer Alarm on the Xiaomi AIoT platform, handling requirement analysis, module design, and C programming.
      </p>
    </div>
  </div>
</section>
