:root {
  --sidebar-width: 33.333%;
  --primary-color: #2c5f2d;
  --light-blue: white;
  --link-color: #00796b;
  --light-green-bg: #f5fff5;
  --text-color: #333;
  --text-color-dark: #3a3a3a;
  --text-color-medium: #4b4b4b;
  --font-stack: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  font-family: 'Lato', 'Roboto', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  color: var(--text-color);
}

.main-content {
  margin-left: var(--sidebar-width);
  padding: 40px;
  width: calc(100% - var(--sidebar-width));
  box-sizing: border-box;
}

.main-content p {
  line-height: 1.7;
  margin-bottom: 15px;
  text-align: justify;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--light-blue);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.profile-image-container {
  margin-bottom: 20px;
}

.profile-photo {
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  margin-top: 0;
  font-size: 2em;
  color: var(--primary-color);
}

.bio {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto 15px auto;
  font-style: italic;
  color: #6c757d;
}

.contact-links {
  margin-top: 15px;
}

.contact-links h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.icon-link {
  color: var(--link-color);
  margin: 0 15px;
  transition: color 0.3s ease-in-out, transform 0.2s;
  display: inline-block;
}

.icon-link:hover {
  color: #009688;
  transform: scale(1.1);
}
