.module.educational-background {
    max-width: 800px;
    margin: 40px auto;
    padding: 0;
        display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
}

.module-title {
    grid-column: 1 / -1; 
    
    font-size: 2em;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
}

.education-item {
    display: block; 
    
    margin-bottom: 0; 
    padding: 15px; 
    
    background-color: #fcfcfc; 
    border-radius: 4px;
    border: 1px solid #eeeeee;
    border-left: 5px solid var(--primary-color); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


.university-logo {
    display: block; 
    margin-bottom: 15px; 
    
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
}

.university-logo img {
    width: 100%; 
    height: 100px; 
    object-fit: fill; */
    
    display: block;
    border: none; 
    border-radius: 4px;
    margin-bottom: 5px; 
}

.education-details {
    flex-basis: auto; 
    padding-right: 0;
}

.education-details h3 {
    font-size: 1.3em;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 0; 
    margin-bottom: 5px;
}

.education-details p:first-of-type {
    font-size: 1.1em;
    color: var(--text-color-medium);
    font-style: italic;
    margin-bottom: 8px;
    
}

.education-details p:nth-of-type(2) {
    font-size: 1.2em;
    color: var(--text-color-medium);
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.education-details ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
    color: #666;
}

.education-details ul li {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .module.educational-background {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .module-title {
        grid-column: 1 / 2; 
    }
    
    .education-item {
        border-left: 5px solid var(--primary-color); 
        border-top: none; 
        padding: 15px;
        margin-bottom: 20px;
    }
    
    .university-logo img {
        height: 100px; 
        width: auto; 
        object-fit: cover; 
    }

    .education-details {
        padding-right: 0;
    }

    .university-logo {
        padding-top: 0;
        margin-bottom: 15px; 
    }
}
